body {
   background-color: rgb(154, 211, 211);
}

h1 {
   text-align: center;
}

button {
   margin-left: 50%;
   margin-bottom: 50px;
}

.grid {
   margin: auto;
   justify-self: center;
   align-self: center;
   height: 640px;
   width: 640px;
   display: flex;
   flex-wrap: wrap;
}

.square {
   background-color: aliceblue;
   flex: 1 1 calc(100%/16);
}

.blackSquare {
   background-color: black;
}
